
:root {
    --logo-font-family: 'Raleway', sans-serif;
    --body-font-family: 'Roboto', sans-serif;
    --brand-color: #4D5AE5;
    --dark-color-header-and-background: #2E2F42;
    --dark-color-paragrapf: #434455;
    --light-color-logo-and-description: #F4F4FD;
    --light-color-footer-and-borders: #E7E9FC;
    --light-color-header: #FFFFFF;
    --hover-focus-navigation-menu: #404bbf;
}

/*Global styles*/

*,
*::before
*::after {
    box-sizing: border-box;
}

.display-flex {
    display: flex;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

* {
    margin: 0;
}

img {
    display: block;
}




body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: var(--dark-color-paragrapf);
}

a {
    text-decoration: none;
}

h2 {
    color: var(--dark-color-header-and-background);
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02em;
}

h3 {
    color: var(--dark-color-header-and-background);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.visually-hidden {
    overflow: hidden;
}

p {
    color: var(--dark-color-paragrapf);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Top Line */

.navigation {
    align-items: center   
}

.top-line {
    background-color: var(--light-color-header);
    border: var(--light-color-borders);
    justify-content: space-between;
    border-bottom: 1px solid #e7e9fc;
}


/* Logo */

.logo-link {
    color: var(--brand-color);
    font-family: var(--logo-font-family);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-link-second-part-header {
    color: var(--dark-color-header-and-background);
    font-family: var(--logo-font-family);
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-link-second-part-footer {
    font-family: var(--logo-font-family);
    color: var(--light-color-logo-and-description);
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* Navigation Menu Studio */
.list {
    list-style: none;
}

.navigation-menu {
    gap: 40px;
}

.navigation-menu-option {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--dark-color-header-and-background);
    padding: 24px 0;
}

.navigation-menu:hover,
.navigation-menu:focus {
    color: var(--hover-focus-navigation-menu);
}


/* Contact Info */
.contact-list {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-style: normal;
    color: var(--dark-color-paragrapf);
    gap: 40px;
}


.contacts-links {
    background-color: var(--body-font-family);
    color: var(--dark-color-paragrapf);
}

.contact-links:hover,
.contact-links:focus {
    color: var(--hover-focus-navigation-menu);
}

.color-blue {
    color: var(--dark-color-paragrapf);
}

/* Sections Studio */
/* Section 1 */
.hero-content {
    background-color: var(--dark-color-header-and-background);
    width: 1440px;
    padding: 188px 0;
}
    /* Title */

.title-hero-content {
    color: #FFFFFF;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    font-weight: 700;
    max-width: 496px;
}

    /* Order Button */

.order-service-button {
    background-color: var(--brand-color);
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;

}


.hover-focus:hover,
.hover-focus:focus {
    background-color: #404bbf ;
}

/* Section 2 */

.section-features {
    padding: 120px 0;

}

.feature-list {
    gap: 24px;
}

.title-features {
    line-height: 1.2;
    letter-spacing: 0.02em;
    width: calc((100% - 72px) / 4);
    margin-bottom: 8px;
}

.paragraph-features {
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 0;
}

/* Section 3 */
.title-studio {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}

/* Section 4 */
.background-white {
    background-color: #FFFFFF;
}

.our-team {
    background-color: var(--light-color-logo-and-description);
    padding: 120px 156px;
}

.title-our-team {
    background-color: #FFFFFF;
}

.paragraph-our-team {
    font-size: 16px;
}

.centered-text {
    text-align: center;
}

/* Footer */
.footer {
    background-color: var(--dark-color-header-and-background);
}

/* Business Description */
.bussines-description {
    color: var(--light-color-logo-and-description);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
}


/* Sections Portfolio*/

/* Portfolio Filters */
    .portfolio-filters {
        border: 1px solid var(--light-color-footer-and-borders);
        text-align: center;
        text-decoration: none;
        color: var(--brand-color);
        background-color: var(--light-color-logo-and-description);
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.04em;
        text-align: center;
        line-height: 1.5;
    }
    .portfolio-filters:hover,
    .portfolio-filters:focus{
        color:  #FFFFFFFF;
        background-color: #404BBF;
    }
    

/* Portfolio Cards */
    .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin: 24px;
    }

    .cards-title {
        color: var(--dark-color-header-and-background);
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.02em;
        line-height: 1.2;
    }

    .cards-paragraph {
        color: var(--dark-color-paragrapf);
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.02em;
        line-height: 1.5;
    }

